<!DOCTYPE html>
<html>
  <head>
    <title>Products API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img class="logo" src="/img/logo.jpg" alt="">
    <h1 class="title">API de productos TEAL</h1>
    <h2 class="subtitle">Estos son los datos que puedes consultar en esta API</h2>
    <ul>
      <li><a href="https://productsapi-production-d23f.up.railway.app/products/list">Lista de productos</a></li>
      <li><a href="https://productsapi-production-d23f.up.railway.app/products/:id">Ver productos de forma individual</a></li>
      <li><a href="https://productsapi-production-d23f.up.railway.app/products/:id">Editar y eliminar productos</a></li>
      <li><a href="https://productsapi-production-d23f.up.railway.app/products/">Agregar productos</a></li>
    </ul>
  </body>
</html>